POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT_INTERNAL=5432
POSTGRES_PORT_EXTERNAL=5432

API_TIMEZONE=Europe/Paris
API_TIMEOUT=10

DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
